:root {
    --principal-color: #004C98;
    --secondary-color: #83BDD6;
    --border-color: #F0F0F0;
    --buy-button-color: #59c00b;
    --table-principal-color: #E2E2E2;
    --table-secondary-color: #F0F0F0;

    --bg-images-height: 500px;
}

